.ContainerRegister{
    position: absolute;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
}

.ContainerRegister form{
    background: #f3f3f3;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ContainerRegister form input{
    margin-bottom: 25px;
    margin-top: 25px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background: none;
    border: 2px #001b48 solid;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #001b48;
    font-weight: bold;
}

.ContainerRegister form input::placeholder{
    color: #001b48;
}

.ContainerRegister form button{
    width: 100px;
    height: 30px;
    background: none;
    border: 2px #001b48 solid;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
}

.ContainerRegister form button:hover{
    color: #d6e8ee;
    border: 2px #d6e8ee solid;
    transition: 0.3s;
}