<div class="AddTask">
    <form action="" (ngSubmit)="onSubmit()">
        <label>Agreaga un título</label>
        <input type="text" class="" name="Titulo" placeholder="Titulo" [(ngModel)]="Titulo">

        <label>Agrega una breve descripción de la tarea</label>
        <textarea name="" id="" cols="20" rows="10" name="Descripcion" [(ngModel)]="Descripcion" ></textarea>

        <label>Agrega la fecha de inicio</label>
        <input type="date" class="Date" name="FechaIni" [(ngModel)]="FechaIni" >

        <label>Agrega la fecha de finalización</label>
        <input type="date" class="Date" name="FechaFin" [(ngModel)]="FechaFin" >

        <button type="submit"><i class="fas fa-check"></i></button>
        <button (click)="exitModal()" ><i class="fas fa-backspace"></i></button>
    </form>
</div>
