<div class="Task">
    <div class="ContainerButtons">
        <button (click)="editTask()"><i class="fas fa-pen"></i></button>
        <button (click)="deleteTask()"><i class="fas fa-trash"></i></button>
    </div>
    
    <h3>{{currentTask.Titulo}}</h3>
    
    <p>{{currentTask.Descripcion}}</p>
    <hr>
    <p [style.color]="currentTask.Estado.Nombre.includes('Proceso') && percentageRealizedSubtask < 100 ? 'Blue' : 'Green' ">{{currentTask.Estado.Nombre.includes('Proceso') ? 'En '+currentTask.Estado.Nombre : currentTask.Estado.Nombre}} {{percentageRealizedSubtask+'%'}}</p>
   
    <p>Fecha de inicio: {{currentTask.FechaIni}}</p>
    
    <p>Fecha finalización: {{currentTask.FechaFin}}</p>
    
    <div class="Completed">
        <input type="checkbox" [(ngModel)]="complete" (ngModelChange)="completeTask()"><label>Completada</label>
    </div>
    <hr>
    <div *ngIf="currentTask.Subtareas.length > 0" class="DropSubtasks" (click)="dropSubtasks()">
        <h4> Hay {{currentTask.Subtareas.length}} subtareas</h4> 
        <i class="fas fa-caret-down" *ngIf="!showSubtasks"></i>
        <i class="fas fa-caret-up" *ngIf="showSubtasks"></i></div>
    <div *ngIf="showSubtasks">
        <app-subtask *ngFor="let subtask of subtasks"  [currentSubtask]="subtask"></app-subtask>
    </div>
    <div class="AddSubtarea" (click)="showAddSubtarea()">
        <i class="fas fa-plus"></i> <label>Agregar Subtarea</label>
    </div>
</div>
