<div class="Task">
    <div class="ContainerButtons">
        <button (click)="deleteTask()">X</button>
        <button (click)="editTask()">Editar</button>
    </div>
    <br><br>
    <h3>{{currentTask.Titulo}}</h3>
    <br>
    <p>{{currentTask.Descripcion}}</p>
    <br>
    <p>{{currentTask.Estado.Nombre.includes('Proceso') ? 'En '+currentTask.Estado.Nombre : currentTask.Estado.Nombre}}</p>
    <br>
    <p>Fecha de inicio: {{currentTask.FechaIni}}</p>
    <br>
    <p>Fecha finalización: {{currentTask.FechaFin}}</p>
    <br>
    <input type="checkbox" [(ngModel)]="complete" (ngModelChange)="completeTask()"><label>Completada</label>
</div>
