.Task{
    background: #f3f3f3;
    width: 200px;
    height: 350px;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Task button{
    position: absolute;
    margin-left: 175px;
    margin-top: 4px;
    cursor: pointer;
}

.Task h3{
    margin: 0px;
}

.Task p{
    font-size: 12px;
}