.Task{
    background: #f3f3f3;
    width: 230px;
    height: max-content;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Task .ContainerButtons {
    display: flex;
    flex-direction: row;
}

.Task .ContainerButtons button{
    height: 30px;
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    border: 2px #001b48 solid;
    border-radius: 5px;
    color: #001b48;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.Task .ContainerButtons button:hover{
    border: 2px #d6e8ee solid;
    color: #d6e8ee;
    transition: 0.3s;
}

.Task hr{
    border: 1px #ffffff solid;
    box-shadow: 0px 0px 2px 0.3px rgba(0, 0, 0, 0.3);
}

.Task h3{
    margin-top: 15px;
}

.Task p{
    font-size: 12px;
    margin-top: 15px;
}

.Completed input{
    cursor: pointer;
    margin-right: 15px;
}

.Task .AddSubtarea{
    height: 50px;
    width: auto;
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.Task .AddSubtarea label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #8c8c8c;
    cursor: pointer;
}

.Task .AddSubtarea i{
    color: #8c8c8c;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.Task .AddSubtarea:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.DropSubtasks{
    width: 100%;
    height: 30px;
    background: white;
    border-radius: 5px;
    text-align: center;
    color: #8c8c8c;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.DropSubtasks:hover{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    text-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.3);
}

.DropSubtasks h4{
    margin: 0;
}

.DropSubtasks i{
    animation: show;
    animation-duration: 1s;
}

@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}