.AddTask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    animation: show;
    animation-duration: 0.5s;
}

.AddTask form{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    background: #f3f3f3;
    width: 250px;
    height: 550px;
    border-radius: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.AddTask input{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 220px;
    padding-left: 5px;
}

.AddTask .Date{
    margin-bottom: 15px;
    margin-top: 15px;
    width: 150px;
}

.AddTask textarea{
    resize: none;
    border-radius: 10px;
    padding-left: 5px;
}

.AddTask label{
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.AddTask button{
    height: 30px;
    width: 100px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
    border: 2px #001b48 solid;
    border-radius: 5px;
    color: #001b48;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.AddTask button:hover{
    border: 2px #d6e8ee solid;
    color: #d6e8ee;
    transition: 0.3s;
}